header
    {
        background: #BBBBBB;
        padding: 20px 0; /*espaçamento 20px cima e baixo, 0 direita e esquerda*/
    }
.caixa
    {
        position: relative;
        width: 940px;
        margin: 0 auto;
    }
nav
    {
        position: absolute;
        top: 110px;
        right: 0;
    }
nav li 
    {
        display: inline;
        margin: 0 0 0 15px;  /*margin 0 = ^, 0 = >, 0 = Baixo, 0 = <*/ 
                
    }
nav a 
    {
        text-transform: uppercase;
        color: #000000;
        font-weight: bold; /*bold = negrito*/
        font-size: 22px; /*tamanho da fonte*/
        text-decoration: none; /*retira linha ou qualquer decoração do texto*/
    }
.produtos 
    {
        width: 940px; /*largura fixa*/
        margin: 0 auto;
        padding: 50px 0; /*espaçamento interno*/
    }
.produtos li 
    {
        display: inline-block;
        text-align: center;
        width: 30%;
        vertical-align: top; /*alinhamento pela linha de cima*/
        margin: 0 1.5%; /*alinhemento externo*/
        padding: 30px 20px;
        box-sizing: border-box;

    }
.produtos h2 
    {
        font-size: 30px;
        font-weight: bold;
    }
.produto-descricao 
    {
        font-size: 18px;
    }
.produto-preco 
    {
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
    }